:root{
  --prime-text-color: rgb(32, 32, 32);
  --background-color: rgb(241, 241, 241);
  --light-gray-box-color: #c8c8c8;
  --mid-gray-box-color: #aaaaaa;
  --heavy-gray-box-color:  rgb(65, 65, 65);
  --reverse-text-color: rgb(241, 241, 241);
  --box-hover-color:#d45d5d;
  --border-radius: 5px;

  --max-page-width: 1400px;
}

html {
  font-size: 16px; /* 默认字体大小 */
}


body {
  font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  background-color:var(--background-color);
  color: var(--prime-text-color);
  margin: 0;
  padding: 0;
  width: 100%;  
  max-width: var(--max-page-width); 
  margin: 0 auto;  
  box-sizing: border-box;
}

/* 小屏幕设备（手机） */
@media (max-width: 600px) {
  html {
    font-size: 14px; /* 较小的屏幕，字体略小 */
  }
}

/* 中等屏幕设备（平板电脑） */
@media (min-width: 601px) and (max-width: 1024px) {
  html {
    font-size: 16px; /* 中等屏幕，标准字体大小 */
  }
}

/* 大屏幕设备（桌面电脑） */
@media (min-width: 1025px) {
  html {
    font-size: 18px; /* 较大的屏幕，字体略大 */
  }
}


/* 大标题 */
.title-container {
  background-color: var(--background-color);
  border-bottom: 2px solid var(--background-color);
  border-left: 2px solid var(--background-color);
  border-right: 2px solid var(--background-color);
  padding-top: 0;
  padding-bottom: 0;
  width: calc(100% - 4px);
  text-align: center;
  display: flex;
}
.title-container-element{
  background-color: var(--light-gray-box-color);
  width: 100%;
  min-width: 50px;
  border-left: 2px solid var(--background-color);
  border-right: 2px solid var(--background-color);
  margin: 0;

  word-wrap: break-word;
}
.title-container-element:hover{
  background-color: var(--box-hover-color);
  cursor: pointer;
}

.title-container-element h1,
.title-container-element h2{
  margin: 0rem;
}
/* 左边列 */
.left-column {
  position: fixed;
  left: max(calc((100% - var(--max-page-width)) / 2),0);
  bottom: 0;
  width: calc(min(20%, calc(var(--max-page-width)*0.2)) - 2px); /* 调整宽度以适应你的需求 */
  margin: 0rem; /* 移除外边距 */
  overflow-y:auto; /* Enable the vertical scrollbar */
  overflow-x: hidden;
  /*direction: rtl; /* 设置文本方向为从右到左 */
  border-left: 4px solid var(--background-color);
  border-right: 4px Dashed var(--light-gray-box-color);
}

/* 右边列 */
.right-column {
  margin-left: calc(20% + 4px); /* 确保右侧内容不被左侧悬浮列遮盖 */
  margin-right: 2px;
  overflow-y: auto; /* 如果需要滚动条 */
  padding-top: 2px;
  margin-bottom: 2px;
  right: 0;
}

/* 这会更改所有超链接的颜色 */
a {
    color: var(--box-hover-color);
}
/* 这会只更改鼠标悬停时的颜色 */
a:hover {
    color: rgb(255, 0, 0);
}

/* 表格 */
table {
    width: 100%;
    border-collapse: collapse; 
    border-spacing: 0;
}
th, td {
    border: 2px solid var(--mid-gray-box-color); /* Add border */
    text-align: left; /* Align text to the left */
}
th {
    background-color: var(--mid-gray-box-color); /* Add a background color to headers */
}

/* normal tab style */
.normal-tab {
  display: block;
  background-color: var(--mid-gray-box-color);
  border-bottom: 2px solid var(--background-color) ;
  border-top: 2px solid var(--background-color) ;
  padding: 0rem;
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1rem;
}
.normal-tab:hover{
  background-color: var(--box-hover-color);
  cursor: pointer;
}

.normal-tab h3{
  margin: 0.3rem;
}
/* cracking sciences link tab style */
.cs-link {
  display: block;
  background-color: #333333;
  border-bottom: 2px solid var(--background-color) ;
  border-top: 2px solid var(--background-color) ;
  padding: 0rem;
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1rem;
  border-radius: var(--border-radius);
}
.cs-link h3{
  margin: 0.3rem;
}
.cs-link:hover {
  background-color: rgb(0, 0, 0);
}
.cs-link {
  color: rgb(197, 0, 0);
}
.cs-link:hover {
  color: rgb(255, 0, 0);
  cursor: pointer;
}

.non-diff-href{
  color: inherit;
  position: absolute; width: 100%; height: 100%; top: 0; left: 0;
}

.non-diff-href:hover{
  text-decoration: none; 
  color: inherit;
  cursor: pointer;
}

hr {
  border: 0; /* 移除默认边框 */
  width:100%;
  border-top: 0.2rem solid var(--mid-gray-box-color); /* 添加上边框 */
}

.diary-div{
  margin: 2px auto; 
/*  width:90%; 
  max-width: 1200px; */
}

button {
  background-color: var(--mid-gray-box-color); /* 使背景透明 */
  border: 0.2rem solid var(--background-color);
  outline: none; /* 移除焦点时的轮廓 */
  box-shadow: none; /* 移除阴影 */
  padding: 0.2rem 0.2rem; /* 添加一些内边距 */
  cursor: pointer; /* 鼠标悬停时显示指针图标 */
}

/* 鼠标悬停时的样式 */
button:hover {
  background-color: var(--heavy-gray-box-color); /* 悬停时的背景颜色 */
  color: var(--reverse-text-color);
}

/* 鼠标点击时的样式 */
button:active {
  background-color: var(--box-hover-color); /* 点击时的背景颜色 */
}

blockquote {
  border-left: 4px solid var(--mid-gray-box-color);
  background-color: var(--light-gray-box-color);
  margin: 1em 0;
}

/*
blockquote:before {
  content: "\201C"; 
  color: var(--mid-gray-box-color); 
  font-size: 4rem; 
  line-height: 0.1em; 
  margin-right: 0.25em; 
  vertical-align: -0.4em; 
}
*/
pre {
  font-family: 'Courier New', monospace; /* 等宽字体 */
  background-color: var(--heavy-gray-box-color); /* 背景色 */
  border: 2px solid var(--mid-gray-box-color); /* 边框 */
  padding: 10px; /* 内边距 */
  margin: 1em 0; /* 外边距 */
  color: var(--reverse-text-color); /* 文本颜色 */
  overflow: auto; /* 自动滚动条 */
  white-space: pre-wrap; /* 自动换行 */
  word-wrap: break-word; /* 长单词换行 */
}

button {
  border-radius: 8px;
}

div, pre, blockquote {
  border-radius: var(--border-radius);
}