body {
  font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 2vw; /* 设置字体大小 */
    background-color:rgb(241, 241, 241) ;
    color: rgb(32, 32, 32);
    margin: 0;
    padding: 0;
}

@media (min-width: 1250px) { /* 当视口宽度超过1250px时，字体大小不再随视口变化 */
  body {
    font-size: 25px; /* 这里设置最大字体大小 */
  }
}

@media (max-width: 500px) { /* 当视口宽度小于500px时，字体大小不再随视口变化 */
  body {
    font-size: 13px; /* 这里设置最小字体大小 */
  }
}

/* 大标题 */
.title-container {
  background-color: #c8c8c8;/* 这里设置你喜欢的颜色 */
  border-bottom: 2px solid rgb(241, 241, 241) ; /* 设置底部边框的宽度、样式和颜色 */
  /*background-image: linear-gradient(to top,rgb(201, 88, 63) ,rgb(163, 89, 77));*/
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  width: 100%;
  margin: 0rem; /* 移除外边距 */
  text-align: center; /* 文本居中 */
  z-index: 100; /* 确保在内容之上 */
}
.title-container h1 {
  margin: 0rem; /* 移除标题的默认外边距 */
  padding: 0rem; /* 如果需要，可以根据需要调整内边距 */
}

/* 左边列 */
.left-column {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 20%; /* 调整宽度以适应你的需求 */
  margin: 0rem; /* 移除外边距 */
  overflow-y:auto; /* Enable the vertical scrollbar */
  overflow-x: hidden;
  direction: rtl; /* 设置文本方向为从右到左 */
}

/* 右边列 */
.right-column {
  margin-left: 25%; /* 确保右侧内容不被左侧悬浮列遮盖 */
  margin-right: 5%;
  overflow-y: auto; /* 如果需要滚动条 */
  padding-top: 2px;
}

/* 这会更改所有超链接的颜色 */
a {
    color: rgb(224, 110, 90);
}
/* 这会只更改鼠标悬停时的颜色 */
a:hover {
    color: rgb(255, 0, 0);
}

/* 表格颜色 */
table {
    width: 100%;
    border-collapse: collapse; /* Collapse borders */
}
th, td {
    border: 2px solid rgb(163, 163, 163); /* Add border */
    padding: 0.3rem; /* Add some padding */
    text-align: left; /* Align text to the left */
}
th {
    background-color: rgb(163, 163, 163) /* Add a background color to headers */
}

/* normal tab style */
.normal-tab {
  display: block;
  background-color: #c8c8c8;
  border-bottom: 2px solid rgb(241, 241, 241) ;
  border-top: 2px solid rgb(241, 241, 241) ;
  padding: 0rem;
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1rem;
}
.normal-tab:hover{
  background-color: #d45d5d;
}
/* cracking sciences link tab style */
.cs-link {
  display: block;
  background-color: #333333;
  border-bottom: 2px solid rgb(241, 241, 241) ;
  border-top: 2px solid rgb(241, 241, 241) ;
  padding: 0rem;
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1rem;
}
.cs-link:hover {
  background-color: rgb(0, 0, 0);
}
.cs-link {
  color: rgb(197, 0, 0);
}
.cs-link:hover {
  color: rgb(255, 0, 0);
}
